.idea/
.data/
.vscode/
.DS_Store
venv/
htmlcov/
backups/
__pycache__
.pytest_cache

.coverage

.env
.env.int
.env.dev
.env.prod
.env.test
.history

*.pyc
*.csv
*.db
*.bak

todo.md
notes.md

keys/
idam/flask_session
