{% extends "base.html" %}

{%- from 'govuk_frontend_jinja/components/input/macro.html' import govukInput -%}


<!-- {%- from 'govuk_frontend_jinja/components/accordion/macro.html' import govukAccordion -%}
{%- from 'govuk_frontend_jinja/components/back-link/macro.html' import govukBackLink -%}
{%- from 'govuk_frontend_jinja/components/breadcrumbs/macro.html' import govukBreadcrumbs -%}
{%- from 'govuk_frontend_jinja/components/button/macro.html' import govukButton -%}
{%- from 'govuk_frontend_jinja/components/character-count/macro.html' import govukCharacterCount -%}
{%- from 'govuk_frontend_jinja/components/checkboxes/macro.html' import govukCheckboxes -%}
{%- from 'govuk_frontend_jinja/components/cookie-banner/macro.html' import govukCookieBanner -%}
{%- from 'govuk_frontend_jinja/components/date-input/macro.html' import govukDateInput -%}
{%- from 'govuk_frontend_jinja/components/details/macro.html' import govukDetails -%}
{%- from 'govuk_frontend_jinja/components/error-message/macro.html' import govukErrorMessage -%}
{%- from 'govuk_frontend_jinja/components/error-summary/macro.html' import govukErrorSummary -%}
{%- from 'govuk_frontend_jinja/components/fieldset/macro.html' import govukFieldset -%}
{%- from 'govuk_frontend_jinja/components/file-upload/macro.html' import govukFileUpload -%}
{%- from 'govuk_frontend_jinja/components/footer/macro.html' import govukFooter -%}
{%- from 'govuk_frontend_jinja/components/header/macro.html' import govukHeader -%}
{%- from 'govuk_frontend_jinja/components/hint/macro.html' import govukHint -%}
{%- from 'govuk_frontend_jinja/components/input/macro.html' import govukInput -%}
{%- from 'govuk_frontend_jinja/components/inset-text/macro.html' import govukInsetText -%}
{%- from 'govuk_frontend_jinja/components/label/macro.html' import govukLabel -%}
{%- from 'govuk_frontend_jinja/components/notification-banner/macro.html' import govukNotificationBanner -%}
{%- from 'govuk_frontend_jinja/components/pagination/macro.html' import govukPagination -%}
{%- from 'govuk_frontend_jinja/components/panel/macro.html' import govukPanel -%}
{%- from 'govuk_frontend_jinja/components/phase-banner/macro.html' import govukPhaseBanner -%}
{%- from 'govuk_frontend_jinja/components/radios/macro.html' import govukRadios -%}
{%- from 'govuk_frontend_jinja/components/select/macro.html' import govukSelect -%}
{%- from 'govuk_frontend_jinja/components/skip-link/macro.html' import govukSkipLink -%}
{%- from 'govuk_frontend_jinja/components/summary-list/macro.html' import govukSummaryList -%}
{%- from 'govuk_frontend_jinja/components/table/macro.html' import govukTable -%}
{%- from 'govuk_frontend_jinja/components/tabs/macro.html' import govukTabs -%}
{%- from 'govuk_frontend_jinja/components/tag/macro.html' import govukTag -%}
{%- from 'govuk_frontend_jinja/components/textarea/macro.html' import govukTextarea -%}
{%- from 'govuk_frontend_jinja/components/warning-text/macro.html' import govukWarningText -%} -->

{% block pageTitle %}

Privately Rented Property Portal – GOV.UK

{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
'text': "Back",
'href': url_for('index')
}) }}
{% endblock %}

{% block content %}
<h1 class="govuk-heading-xl">Compliance</h1>
<p class="govuk-body">You have completed {{ complete }} out of {{ total }} properties</h3>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <table class="govuk-table">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">72 Riley Avenue, Romford, RM1 3ER</td>
          <td class="govuk-table__cell">NOT STARTED</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">3 Picadilly Close, London, SE15 2RP</td>
          <td class="govuk-table__cell">NOT STARTED</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">18 James Street, Bath, HM1 4TZ</td>
          <td class="govuk-table__cell">NOT STARTED</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">24 Oak Crescent, Leeds, LR6, 3XL</td>
          <td class="govuk-table__cell">NOT STARTED</td>
        </tr>
        
      </tbody>
    </table>
    <div class="govuk-form-group">
      <form action="/" method="post" autocomplete="off">
        <br>
        <button class="govuk-button" data-module="govuk-button" type="submit">
          Add Property
        </button>
      </form>
    <div class="govuk-form-group">
      <form action="/" method="post" autocomplete="off">
        <br>
        <button class="govuk-button" data-module="govuk-button" type="submit">
          Continue
        </button>
      </form>
    </div>
  </div>
</div>



<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
{% for fixture in fixtures.fixtures if fixture.hidden == False %}
<!-- <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 id="{{fixture.name | replace(' ', '-')}}" class="govuk-heading-l">{{fixture.name | capitalize}}</h2>


    {{ govukDetails({
    'summaryText': "Jinja macro options",
    'text': fixture.options
    })}}

    {{ govukDetails({
    'summaryText': "HTML",
    'text': fixture.html
    })}}
  </div>
</div> -->
{% endfor %}
{% endblock %}